body {
    font-family: Arial, sans-serif;
    max-width: 400px;
    margin: 20px auto;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* 입력 필드 간 간격 */
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #007BFF; /* 파란색 배경 */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#past-gift-section {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
}
